@font-face {
    font-family: "Inter";
    src: url();
}

.page{
    background-color: #2A2C2F;
    color: #FFFFFF;
    margin: 0;
    width:100%;
}

.header{
display: flex;
justify-content:flex-end;
height: 52px;
padding: 28px 48px 0;
margin: 0;
position: relative;

}
.header__logo{
width:100%;
height:52px;

}
.header__lang-link{
font-style: normal;
font-size: 24px;
line-height:28px;
text-decoration-line: underline;
font-family: 'Inter';
font-weight: 400;
margin:0 18px 0 0;
color: #FFFFFF;
align-self: flex-end;
margin-left: auto;
  
}
.header__lang-link:last-child{
    margin: 0;
    text-decoration: none;

}
.lead{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px 148px 0;
    position: relative;
    min-width: 984px;
min-height: 1005px;
}
.lead__title{
    text-align: center;
    margin:0 0 32px;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
max-width: 720px;

}
.lead__subtitle{
    text-align:center;
    margin:0 0 64px;
    width: 640px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
}
.lead__image{
    width:100%;
    max-height: 615px;
    margin:0 0 8px;
  
}
.lead__caption{    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
height: 14px;
letter-spacing: 1.5px;
text-transform: uppercase;
margin:0;
}
.intro{
    display: flex;
    flex-direction: column;
    margin: 92px 0 92px 148px;
}
.intro__title{
    margin:0 0 40px 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
}
.intro__text{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
width: 690px;
margin: 0;
font-variant-numeric: normal;
}
.intro__list{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
list-style: none;
padding:0;
margin:33px 0 0;
}
.intro__number{
 font-weight: lighter;
}
.photo-grid{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4,1fr);
    justify-content: center;
    gap:16px;
    margin:0 48px 92px;
}
.photo-grid__item{
    width: 100%;
    max-height: 213px;
}
.places{

margin: 0 148px;
}
.place{
    margin: 0 0 80px;
    display:grid;
grid-template-columns: 460px auto;
grid-template-rows: 152px auto;
gap:48px 40px;
align-items: end;

}
.place:last-child{
    margin:0 0 92px;
}
.place__image{
 width: 100%;
height: 460px;
}
.place__website{
    width: 456px;
}
.place__title{
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
/* or 106% */
margin: 0;
}
.place__paragraph{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
/* or 29px */
margin: 0 0 26px;
}
.place__paragraph:last-child{
    margin: 0;
}
.place__url-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    
    letter-spacing: 2px;
    margin: 0 0 12px;
    color: #AAAAAA;
}
.place__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    
    text-decoration-line: underline;
    margin:0;
    color: #FFFFFF;
}
.place__link:hover{
    opacity: 0.8;
}
.place__website{
    margin:0;
}
.place__column{
    align-self: flex-start;
  

    
}

.cover{
    background-image: url(./sprint-3-images/cover-trains.jpg);
   background-size: 100%;
    min-height: 740px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 48px;
}
.cover__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    max-width: 560px;
    text-align: center;
    margin: 0;
}
.cover__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    width: 360px;
    text-align: center;
    margin: 32px 0 0;  
}
.cover__overlay{
    opacity: 0.3;
    background: #2A2C2F;
    width:100% ;
}
.cover__link{
    color: #FFFFFF; 
    text-decoration: none;
}

.cover__overlay:hover{
    opacity: 0.8;
    background: #2A2C2F;
    width:100% ;
}
.footer{
   margin: 92px 48px 0;
    padding:0 0 24px;
    display: flex;
    justify-content: space-between;
}
.footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #FFFFFF;

}


.footer__link{
    margin: 0 18px 0 0;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
  
}
.footer__link:hover{
    opacity: 0.8;
}


.footer__copyright{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

margin: 0;
}
