.place__url-heading{
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    
    letter-spacing: 2px;
    margin: 0 0 12px;
    color: #AAAAAA;
    font-weight: 400;
}


@media screen and (max-width: 984px) {
    .place__url-heading{
       max-width: 353px;

     
    }
}

@media screen and (max-width: 568px) {
    .place__url-heading{
       max-width: 288px;
    
    }
}